.tabs{
    padding: 10px 20px;
    margin-right: 5px;
    color: red;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0,0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabs:hover{
    background-color: greenyellow;
}

.tabs.active{
    background-color: #fff;
    border-bottom: 1px solid #fff;
}