form(action="/createUser", method="post")
    label Create user:
        Label Name:
            input(type="text", name="name")
        Label Age:
            input(type="text", name="age")
        Label Gender:
            input(type="text", name="gender")
    input(type="submit", value="Create user")