doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title 
        script(src="/js/login.js" defer) 
    body
        h1 Welcome to the pleasure dome
        if isLoggedIn 
            h2 You are logged in!
        else 
                label Username: 
                    input(type="text", name="username", id="username")
                label Password:
                    input(type="password", name="password", id="password")
                button#login Login 
        span#error 
                